<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/assets/css/eisenhower.css">
    <title>Eisenhower</title>
  </head>
  <body>


    <!-- vendor scripts -->
    <script src="https://login.persona.org/include.js"></script>
    <script src="/vendor/jquery/dist/jquery.min.js"></script>
    <script src="/vendor/ember/ember-template-compiler.js"></script>
    <script src="/vendor/ember/ember.debug.js"></script>
    <script src="/vendor/ember-data/ember-data.min.js"></script>

    <!-- app scripts -->
    <script src="/ember/templates.js"></script>
    <script src="/ember/app.js"></script>
  </body>
</html>
