{% extends '_default.html' %}

{% block main %}
<main class="container">
	<h1>Eisenhower Help</h1>

	<div class="row">
		<div class="col-md-9">
			<section>
				<h2>Topics</h2>
				<section>
					<h3>Create topics</h3>
					<article class="panel panel-info">
						<header class="panel-header">
							<h4></h4>
						</header>
						<div class="panel-body">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum aliquid expedita enim atque esse laborum odio suscipit ipsum at, quibusdam ad libero, necessitatibus officiis cum hic? Beatae aspernatur, enim ab?</p>
							<p>Necessitatibus veritatis, sunt quisquam assumenda aliquam nam doloremque ratione eaque quia atque fugiat laborum pariatur illum accusantium ducimus enim culpa inventore aliquid repudiandae, minima provident maiores asperiores perferendis. Totam, consequuntur.</p>
						</div>
					</article>
				</section>
				<section>
					<h3></h3>
					<article class="panel panel-">
						<header class="panel-header">
							<h4></h4>
						</header>
						<div class="panel-body">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste tempora maiores, laudantium, quas quia qui rem, vero quod sed amet, voluptates iure modi eos tempore provident mollitia. Odio error, molestiae!</p>
							<p>Nemo veniam hic debitis, quis labore. Doloribus placeat possimus perspiciatis quisquam laudantium odio iusto facere, veritatis assumenda distinctio nobis voluptate quasi consequuntur vitae. Ab assumenda, dolore asperiores aliquid est saepe?</p>
						</div>
					</article>
				</section>
				<section>
					<h3></h3>
					<article class="panel panel-">
						<header class="panel-header">
							<h4></h4>
						</header>
						<div class="panel-body">
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tenetur expedita inventore aspernatur, quidem tempore? Eum sunt quam, delectus esse architecto ad consectetur reprehenderit, culpa autem recusandae blanditiis incidunt nobis, odit.</p>
							<p>Rem a nihil maxime, magni totam repudiandae earum tempore corporis omnis aperiam ipsam assumenda aspernatur neque nemo doloremque laborum porro. Culpa doloremque, laborum cumque voluptatibus labore laboriosam quasi distinctio ipsam.</p>
						</div>
					</article>
				</section>
			</section>
		</div>
		<aside class="col-md-3 hidden-sm">
			<nav>
				<ul class="nav nav-stacked">
					<li><a href="">Stuff</a></li>
					<li><a href="">Things</a></li>
					<li><a href="">Other bits</a></li>
					<li><a href="">Bobs</a></li>
				</ul>
			</nav>
		</aside>
	</div>

</main>
{% endblock %}
