{% extends '_default.html' %}

{% block custom_styles %}
<style>
  #demoGraph {
    cursor: pointer;
  }
  #demoGraph .task {
    cursor: inherit;
  }
</style>
{% endblock %}

{% block main %}
<main class="container">
  <header class="jumbotron">
    <div class="row">
      <div class="col-md-4 hidden-sm hidden-xs">
        <div id="demoGraph" class="panel panel-default eisenhower-graph"></div>
      </div>
      <div class="col-md-8 col-sm-12">
        <h1>Eisenhower</h1>

        <blockquote>
          <p>What is important is seldom urgent and what is urgent is seldom important.</p>
          <cite>– Dwight D. Eisenhower</cite>
        </blockquote>

        {% if not user.email %}
        <a href="#" class="persona-login btn btn-primary btn-lg pull-right">Register now</a>
        {% endif %}
      </div>
    </div>
  </header>
</main>
{% endblock %}

{% block custom_scripts %}
<script src="/assets/js/homepageDemo.js"></script>
{% endblock %}
