{% extends '_default.html' %}

{% block main %}
<main class="container">
  <h1>Legal Blar Blar</h1>

  <section id="termsOfService">
    <h2>Terms of Service</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, impedit, culpa? Blanditiis cupiditate sed perspiciatis laboriosam, delectus, eum quia tempora, autem assumenda quisquam laudantium. Dignissimos officiis similique reiciendis aut laboriosam.</p>
    <p>Fuga suscipit at, sint magni molestiae ipsa! Quam officiis libero fugiat ratione, quis quo nihil, inventore, nulla quae numquam sapiente facilis id. Ullam iste, voluptatum, cumque deleniti omnis qui voluptatibus!</p>
    <p>Perferendis iure labore quibusdam explicabo repudiandae qui obcaecati temporibus, illum soluta incidunt inventore voluptatibus optio veniam est ipsam. Numquam laboriosam ex saepe porro, suscipit magni temporibus consequuntur iusto sapiente perspiciatis.</p>
    <p>Commodi quidem, animi consectetur velit corrupti facere explicabo ab aut aliquid similique accusamus, cum saepe, recusandae dolore sit. Similique non inventore mollitia soluta placeat commodi, eligendi. Iusto quo commodi consectetur.</p>
  </section>

  <section id="privacyPolicy">
    <h2>Privacy Policy</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At perferendis rem quas rerum pariatur placeat, culpa praesentium quis magni. Odio commodi quae, id nihil quidem aliquam officiis nisi modi quasi!</p>
    <p>Sed alias aspernatur dolores reprehenderit voluptate sit repellendus, ipsum obcaecati culpa eligendi, et, similique voluptatibus architecto maxime nulla pariatur nam beatae fugit. Neque non corrupti sit, obcaecati voluptas unde reprehenderit!</p>
    <ul>
      <li>Lorem ipsum dolor sit amet, consectetur.</li>
      <li>Doloremque obcaecati earum totam incidunt animi!</li>
      <li>Atque vel alias eos doloribus inventore.</li>
      <li>Provident qui, ullam quam sequi maiores?</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatem sed, deserunt aliquam mollitia dolor architecto laudantium voluptas fuga possimus et, explicabo quos dicta debitis praesentium culpa consequuntur provident, nisi maxime.</p>
    <p>Culpa deserunt, ipsam incidunt autem quas vitae recusandae architecto alias laborum neque perspiciatis, iure, voluptates, perferendis temporibus. Amet, quam, delectus. Obcaecati praesentium natus dolores, placeat est animi odit, inventore assumenda.</p>
    <p>Temporibus sunt, in libero veniam, a voluptatibus animi molestias perspiciatis eaque tenetur omnis deserunt, assumenda obcaecati? Pariatur, autem nesciunt, odio rerum porro dicta, ab quos eaque corporis dolore perspiciatis accusamus!</p>
  </section>
</main>
{% endblock %}
