{% extends '_default.html' %}

{% block main %}
<main class="container">
  <h1>Legal Blar Blar</h1>

  <section id="termsOfService">
    <h2>Terms of Service</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui, impedit, culpa? Blanditiis cupiditate sed perspiciatis laboriosam, delectus, eum quia tempora, autem assumenda quisquam laudantium. Dignissimos officiis similique reiciendis aut laboriosam.</p>
    <p>Fuga suscipit at, sint magni molestiae ipsa! Quam officiis libero fugiat ratione, quis quo nihil, inventore, nulla quae numquam sapiente facilis id. Ullam iste, voluptatum, cumque deleniti omnis qui voluptatibus!</p>
    <p>Perferendis iure labore quibusdam explicabo repudiandae qui obcaecati temporibus, illum soluta incidunt inventore voluptatibus optio veniam est ipsam. Numquam laboriosam ex saepe porro, suscipit magni temporibus consequuntur iusto sapiente perspiciatis.</p>
    <p>Commodi quidem, animi consectetur velit corrupti facere explicabo ab aut aliquid similique accusamus, cum saepe, recusandae dolore sit. Similique non inventore mollitia soluta placeat commodi, eligendi. Iusto quo commodi consectetur.</p>
  </section>

  <section id="privacyPolicy">
    <h2>Privacy Policy</h2>
    <p>This privacy policy has been written to information on how we store, use and handle your personal information. Please read this  policy carefully. Currently we implement data logging to help improve our service, however, in future versions this will be an opt-in feature.</p>
    <h3>What do we collect?</h3>
    <ul>
      <li>Your email address</li>
      <li>Your name (if you set one)</li>
      <li>Your interactions with the website</li>
      <li>Data in the form of topics, tasks or descriptions you enter on the website</li>
      <li>Whether you have visited our website before (via a cookie)</li>
    </ul>
    <h3>How do we use your information?</h3>
    <p>Simply, we use it to make improvements to the service around the user interface and methods of interaction. We will also use it to tailor how we offer notifications or reminders in the future.</p>
    <h3>Who do we share your data with?</h3>
    <p>The information is shared with one other individual, however, they are not provided with a copy of the data. This is to help enable improvements in the development of Eisenhower.</p>
    <p>We will not offer your data to third party organisations under any circumstances</p>
    <h3>How do we keep your data safe?</h3>
    <ul>
	    <li>We have limited the number of people with access to the data.</li>
	    <li>The data is password protected</li>
	    <li>Your interaction with the site is via an SSL (Secure Socket Layer) connection</li>
	    <li>We routinely run malware scans across our website</li>
    </ul>
    <h3>Will you email me?</h3>
    <p>We will only ever email you if you have opted-in to emails, above and beyond that, we will:</p>
    <ul>
    	<li>Not use false, or misleading subjects or email addresses</li>
      	<li>Identify the message as an advertisement in some reasonable way</li>
      	<li>Include the physical address of our business or site headquarters</li>
      	<li>Honor opt-out/unsubscribe requests quickly</li>
      	<li>Allow users to unsubscribe by using the link at the bottom of each email</li>
    </ul>

    <p>If you have any questions about this privacy policy, please send an email to enquires@notsocreative.uk</p>
  </section>
</main>
{% endblock %}
