<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="/assets/css/eisenhower.css">

  <title>{% block title %}500 Internal Server Error{% endblock %}</title>
</head>
<body class="container">
  <main class="row">
    <div class="class-md-12">
      <header>
        <h1>Oops!</h1>
        {% block main %}
        <h2>500 Internal Server Error</h2>
        <p class="lead">{{ message }}</p>

        <a href="/" class="btn btn-primary">Take me home</a>
        {% endblock %}
      </header>
    </div>
  </main>

  <script src="https://login.persona.org/include.js"></script>
  <script src="/vendor/jquery/dist/jquery.min.js"></script>
  <script src="/assets/js/persona.js" data-persona="{{ persona }}" data-user="{{ user.email }}"></script>
</body>
</html>
