<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="/assets/css/eisenhower.css">

  <title>500 Internal Server Error</title>
</head>
<body class="container">
  <main class="row">
    <div class="col-md-12">
      <header>
        <h1>Oops!</h1>
        <h2>500 Internal Server Error</h2>
        <p class="lead">Sorry, but we don't seem to be able to handle your request right now. Please try again later.</p>
        <a href="/" class="btn btn-primary">Take me home</a>
      </header>
    </div>
  </main>
</body>
</html>
