<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <link rel="stylesheet" href="/assets/css/eisenhower.css">

  <title>401 Unauthorized</title>
</head>
<body class="container">
  <main class="row">
    <div class="col-md-12">
      <header>
        <h1>Oops!</h1>
        <h2>401 Unauthorized</h2>
        <p class="lead">You must be logged in to access this area.</p>
        <a href="/" class="btn btn-default">Take me home</a>
        <a href="#" class="btn btn-primary persona-login"><i class="fa fa-lock"></i> Login with Persona</a>
      </header>
    </div>
  </main>

  <script src="https://login.persona.org/include.js"></script>
  <script src="/assets/js/persona.js"></script>
</body>
</html>
