{% extends '_default.html' %}

{% block main %}
<div class="container">
  <nav>
    <ol class="breadcrumb">
      {% if TopicId %}
      <li><a href="/">Topics</a></li>
      <li><a href="/topics/{{ TopicId }}">{{ Topic.name }}</a></li>
      {% else %}
      <li><a href="/tasks">All Tasks</a></li>
      {% endif %}
      <li class="active">{{ description | truncate( 30 ) }}</li>
    </ol>
  </nav>

  <div class="row">
    <div class="col-md-4 col-sm-hidden col-xs-hidden">
      <div class="eisenhower-graph" data-tasks-url="{{ '/api/topics/' + Topic.id + '/tasks' if Topic else '/api/users/' + user.id + '/tasks' }}" data-highlight-task="{{ id }}"></div>
      {% if Topic %}
      <p class="text-muted text-center">Showing relative to tasks in topic:<br><a href="/topics/{{ Topic.id }}">{{ Topic.name }}</a></p>
      {% else %}
      <p class="text-muted text-center">Showing relative to all tasks.</p>
      {% endif %}
    </div>
    <div class="col-md-8">
      <ul class="list-inline">
        <li><strong>State:</strong> <span class="label label-state-{{ state }}">{{ state }}</span></li>
        <li><strong>Created:</strong> {{ creeatedAt | calendar }}</li>
        <li><strong>Last Updated:</strong> {{ updatedAt | calendar }}</li>
        {% if dueDate %}<li><strong>Due:</strong> {{ dueDate | relativeMoment }}</li>{% endif %}
      </ul>
      <p class="lead">{{ description }}</p>

      <div class="btn-group pull-right">
        {% if state == 'incomplete' %}
        <a href="#complete" class="btn btn-sm btn-success" id="taskCompleteButton">
          <i class="fa fa-check"></i> Mark Complete
        </a>
        {% endif %}

        <a href="/tasks/{{ id }}/update" class="btn btn-sm btn-primary">
          <i class="fa fa-pencil"></i> Edit Task
        </a>

        <a href="#delete" class="btn btn-sm btn-danger" id="taskDeleteButton">
          <i class="fa fa-trash"></i> Delete Task
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block custom_scripts %}
<script src="/assets/js/graph.js"></script>
<script>
  $(function() {
    $( '#taskCompleteButton' ).on( 'click', function() {
      $.ajax({
        type: 'PUT',
        url: '/api/tasks/{{ id }}',
        data: {
          _csrf: '{{ csrfToken }}',
          state: 'complete'
        },
        dataType: 'json'
      }).done( function( data ) {
        window.location.reload();
      }).fail( function() {
        console.log( arguments );
      });

      return false;
    });

    $( '#taskDeleteButton' ).on( 'click', function() {
      if( window.confirm( 'Are you sure you want to delete this task?' ) ) {
        $.ajax({
          type: 'DELETE',
          url: '/api/tasks/{{ id }}',
          data: {
            _csrf: '{{ csrfToken }}'
          },
          dataType: 'json'
        }).done( function( data ) {
          window.location.href = "/topics/{{ TopicId }}";
        }).fail( function() {
          console.log( arguments );
        });
      }

      return false;
    });
  });
</script>
{% endblock %}
