{% extends '_default.html' %}

{% block main %}
<main class="container">
  <nav>
    <ol class="breadcrumb">
      <li><a href="/">Topics</a></li>
      <li class="active">{{ name }}</li>
    </ol>
  </nav>

  <div class="row">
    <div class="col-md-6">
      <div class="eisenhower-graph" data-topic-id="{{ id }}" data-graph-size="500"></div>

      {% if Tasks.length == 0 %}
      <h4>Creating a task</h4>
      <p>You can create tasks by clicking where you would like it to be on the graph above.</p>

      <p>We've deliberately left numbers out of the equation here. You should plot tasks based on where you feel they best indicate their urgency and importance in relation to everything else.</p>

      <p>You may need to spend a few moments thinking about where to place your first task, but if you think its wrong at any point its perfectly okay to move it later.</p>
      {% endif %}
    </div>
    <div class="col-md-6">
      <h2>{{ name }}</h2>
      {% if description %}
      {{ description | markdown }}
      {% endif %}
      <div class="clearfix">
        <div class="btn-group pull-right">
          <a href="/topics/{{ id }}/update" class="btn btn-sm btn-primary">
            <i class="fa fa-pencil"></i> Edit Topic
          </a>

          <a href="#delete" class="btn btn-sm btn-danger" id="topicDeleteButton">
            <i class="fa fa-trash"></i> Delete Topic
          </a>
        </div>
      </div>

      <h3>Topic Tasks</h3>
      {% if Tasks.length > 0 %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>state</th>
            <th>description</th>
            <th>due date</th>
          </tr>
        </thead>
        <tbody>
          {% for task in Tasks %}
          <tr rel="task-{{ task.id }}">
            <td><span class="label label-state-{{ task.state }}">{{ task.state }}</span></td>
            <td><a href="/tasks/{{ task.id }}">{{ task.description }}</a></td>
            <td>{{ task.dueDate | calendar if task.dueDate else '-' }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <a href="/tasks/create?topic={{ id }}" class="btn btn-default pull-right">
        <i class="fa fa-plus"></i> Create Task
      </a>
      {% else %}
      <p class="lead">Looks like there are no tasks for this topic...</p>

      <h4>What is a Task?</h4>
      <p>Tasks are actionable items, any kind of actionable item. Some tasks require multiple steps to complete, others take just a few moments of your time. Some tasks have deadlines while others can be done any time. Its up to you if its worth making a note of.</p>

      <h5>Urgency</h5>
      <p>Urgent tasks require attention at the first chance. They put us into a <em>reactive</em> state of mind, usually needing quick completion or a narrowly-focused mindset.</p>

      <p>These might not be tasks that have an imminent deadline however, and need attention sooner due to how requiring a larger timeframe, or due to a lack of time to complete them closer to their deadlines.</p>

      <h5>Importance</h5>
      <p>Important tasks contribute to our longer-term missions, values, and/or goals. Sometimes important task are also urgent. When we focus on important activities we work in a more <em>responsive</em> way, allowing us to be more open to new opportunities, or a calmer workflow.</p>
      {% endif %}
    </div>
  </div>
</main>
{% endblock %}

{% block custom_scripts %}
<script src="/assets/js/graph.js"></script>
<script>
  $(function() {
    $( '#topicDeleteButton' ).on( 'click', function() {
      if( window.confirm( 'Are you sure you want to delete this topic?' ) ) {
        $.ajax({
          type: 'DELETE',
          url: '/api/topics/{{ id }}',
          data: {
            _csrf: '{{ csrfToken }}'
          },
          dataType: 'json'
        }).done( function( data ) {
          window.location.href = "/topics";
        }).fail( function() {
          console.log( arguments );
        });
      }

      return false;
    });
  });
</script>
{% endblock %}
