{% extends '_default.html' %}

{% block custom_styles %}
<style>
  .media:nth-child( even ) {
    background-color: #eee;
  }
</style>
{% endblock %}

{% block main %}
<main class="container">
  <nav>
    <ol class="breadcrumb">
      <li class="active">Topics</li>
    </ol>
  </nav>

  <h2>Topics</h2>

  {% for topic in topics %}
  {% if loop.first %}
  <div class="row">
  {% endif %}
    <div class="col-xs-10 col-sm-4 col-md-3">
      <div class="thumbnail">
        <a href="/topics/{{ topic.id }}" class="eisenhower-graph" data-topic-id="{{ topic.id }}" data-graph-readonly="true"></a>

        <div class="caption clearfix">
          <h4>{{ topic.name }}</h4>
          {% if topic.description %}{{ topic.description | truncate( 140 ) | markdown }}{% endif %}

          <a href="/topics/{{ topic.id }}" class="pull-right btn btn-sm btn-primary"><i class="fa fa-eye"></i> View Topic</a>
        </div>
      </div>
    </div>
  {% if not loop.last and not loop.first and loop.index % 4 == 0 %}
  </div>
  <div class="row">
  {% endif %}

  {% if loop.last %}
  </div>
  {% endif %}
  {% endfor %}

  {% if not topics %}
  <div class="alert alert-info" role="alert">No topics found.</div>
  {% endif %}

  <a href="/topics/create" class="btn btn-success pull-right"><i class="fa fa-plus"></i> Create Topic</a>
</main>
{% endblock %}

{% block custom_scripts %}
<script src="/assets/js/graph.js"></script>
{% endblock %}
